.body-cv-ats-1 {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  padding: 2cm;
  margin: 1cm auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-cv {
  width: 8rem;
  height: auto;
  display: block;
  margin-top: -2rem;
  padding: 1rem;
  border-radius: 100%;
}

.section h3 {
  font-family: Arial, sans-serif;
  border-bottom: 2px solid #333;
}

.section ul {
  list-style-type: disc;
  margin-left: 20px;
  flex-wrap: 2;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  margin-left: 2px;
  margin-bottom: 10px;
}

#title-name {
  font-size: 22px;
  font-weight: bold;
}
h2 {
  font-size: 22px;
  color: #333;
}
h3 {
  font-size: 17px;
  color: #333;
}

.text-sosial-media {
  text-transform: lowercase;
  text-decoration: none;
  color: black;
}

.skill-name {
  margin-bottom: 0px;
  text-decoration: none;
}

.detail-ats-1 {
  font-size: 16.5px;
}

#text-content {
  font-size: 16.5px;
}

#space {
  padding-top: 3.5rem;
}
